*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: black;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.card{

    width: 400px;
    height: 260px;
    /* border: 1px solid red; */
    perspective:1000px;
    
}
.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card-front, .card-back{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(blue,rgb(189, 202, 226));
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.row{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.no1{
    padding: 10px 30px;
    font-size: 22px;
}

.no2{
    padding: 10px 30px;
}
.no3{
    font-size: 25px;
    margin-top: 15px;
    padding: 10px 30px; 
}
.no4{
    padding: 0px 30px;
    font-size:12px;
}
.no5{
    padding: 0px 30px;
    font-size:22px;
    margin-top: -30px;
}
.bar{
    width: 100%;
    height: 90%;
    background-color: #000;
    margin-top:50px;
}
.bno1 img{
    height: 45px;
    width: 78%;
    margin-top: 80px;
    margin-left: 16px;
    /* padding: 0 20px; */
}
.bno1 p{
    /* display: flex; */
    border: 1px solid red;
    flex-direction: row;
    background: #fff;
    color: black;
    padding: 8px 12px;
    margin-top: 80px;
    /* margin: 10px 90px; */
    margin-right:25px ;
    font-size: bold;
}
.card-back{
    transform: rotateY(180deg);
}
.card:hover .card-inner{
    transform: rotateY(180deg);
}

